.footer{
  background:#0f1c33;
  color:white;
  padding:5px;
  text-align:center;
  margin-top:auto;
}

.footer-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1000px;
  margin:auto;
}

.footer-links a{
  color:white;
  text-decoration:none;
  margin-left:10px;
}

.footer-links a:hover{
  color:#ccc;
}