.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#2d4591;
  padding:15px 40px;
  color:white;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  list-style:none;
  display:flex;
}

.nav-links li{
  margin-left:20px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:16px;
}

.nav-links a:hover{
  color:#ddd;
}